.navbar-wrapper {
    width: 100%;
    height: 100px;
    padding: 0;
    margin-bottom: 100px;
}

.container {
    width: 100%;
    height: 50px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: darkgreen;
}

#navbar {
    margin-left: 10%;
}

.head {
    font-size: 24px;
}

.head1 {
    font-size: 18px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}
